backend/
Images/
Sounds/
Videos/
audio/
font-awasome/
Document/
admin/
Css/
Javascript/
database/
assets/
node_modules/
.git/
.vscode/
*.log
*.bak
*.md
.DS_Store
SobanukirwaApp/.expo/
SobanukirwaApp/dist/
SobanukirwaApp/node_modules/
SobanukirwaApp/android/
SobanukirwaApp/ios/
SobanukirwaApp/web-build/
SobanukirwaApp/check-sizes.ps1
